* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header,
main {
  padding: 10px;
}

header {
  color: goldenrod;
  font-size: 25px;
}

.box {
  display: block;
  padding: 2px;
}

@media screen and (min-width: 768px) {
  .box {
    display: block;
    width: 100%;
    padding: 5px;
  }
}

@media screen and (min-width: 1024px) {
  .box {
    padding: 10px;
    display: inline;
    width: 20%;
  }
}
