* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header,
main {
  padding: 10px;
}

header {
  color: goldenrod;
  font-size: 25px;
}

.box {
  display: block;
  padding: 2px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;
  align-items: center;
  flex-basis: 100px;
  flex-shrink: 0;
  background-color: aqua;
  align-items: center;
  justify-content: center;
  border: 2px solid black;

  .flex:nth-child(1) {
    flex-grow: 1;
  }
  .flex:nth-child(2) {
    flex-grow: 2;
  }
  .flex:nth-child(3) {
    flex-grow: 1;
  }
}

.nav-flex {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  padding: 20px;
  justify-content: space-around;
}

.nav-child {
  text-decoration: none;
  color: black;
  border-radius: 10px;
  padding: 5px;

  &:active {
    background-color: white;
  }
}

.main-grid {
  display: grid;
  grid-template-columns: 2fr;

  min-width: 450px;
}

.top-grid {
  display: flex;
  background-color: black;
  border: 2px solid black;
  border-radius: 10px;
  min-height: 100px;
  justify-content: flex-end;
  align-items: center;
  color: white;
  padding: 10px;
  margin-bottom: 5px;
  width: 100%;
  &:hover {
    background-color: lightgrey;
    font-size: 30px;
  }
}

div.grid-scientific {
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 100%;
  padding: 5px;
  color: white;
  display: grid;
  /* grid-template-columns: 1fr 2fr; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  min-width: 100px;
  order: 1;

  .item {
    border: 2px solid black;
    background-color: black;
    padding: 5px;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
    min-height: 100px;
    min-width: 100px;
    width: 100%;
    &:hover {
      font-size: 30px;
      background-color: lightgrey;
    }
    &:nth-child(1) {
      grid-column: 1/3;
      grid-row: 1/2;
    }
    &:nth-child(2) {
      grid-column: 3/4;
      grid-row: 1/2;
    }
    &:nth-child(3) {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    &:nth-child(4) {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    &:nth-child(5) {
      grid-column: 3/4;
      grid-row: 2/3;
    }
    &:nth-child(6) {
      grid-column: 1/2;
      grid-row: 3/4;
    }
    &:nth-child(7) {
      grid-column: 2/3;
      grid-row: 3/4;
    }
    &:nth-child(8) {
      grid-column: 3/4;
      grid-row: 3/4;
    }
    &:nth-child(9) {
      grid-column: 1/2;
      grid-row: 4/5;
    }
    &:nth-child(10) {
      grid-column: 2/3;
      grid-row: 4/5;
    }
    &:nth-child(11) {
      grid-column: 3/4;
      grid-row: 4/5;
    }
  }
}

div.grid-normal {
  width: 100%;
  height: 100%;
  padding: 5px;
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  min-width: 100px;
  gap: 5px;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;

  .item {
    border: 2px solid black;
    background-color: black;
    padding: 5px;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
    min-height: 100px;
    min-width: 100px;

    &:hover {
      font-size: 30px;
      background-color: lightgrey;
    }
    &:nth-child(1) {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    &:nth-child(2) {
      grid-column: 2/3;
      grid-row: 1/2;
    }
    &:nth-child(3) {
      grid-column: 3/4;
      grid-row: 1/2;
    }
    &:nth-child(4) {
      grid-column: 4/5;
      grid-row: 1/2;
    }
    &:nth-child(5) {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    &:nth-child(6) {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    &:nth-child(7) {
      grid-column: 3/4;
      grid-row: 2/3;
    }
    &:nth-child(8) {
      grid-column: 4/5;
      grid-row: 2/3;
    }

    &:nth-child(9) {
      grid-column: 1/2;
      grid-row: 3/4;
    }
    &:nth-child(10) {
      grid-column: 2/3;
      grid-row: 3/4;
    }
    &:nth-child(11) {
      grid-column: 3/4;
      grid-row: 3/4;
    }
    &:nth-child(12) {
      grid-column: 4/5;
      grid-row: 3/4;
    }

    &:nth-child(13) {
      grid-column: 1/2;
      grid-row: 4/5;
    }
    &:nth-child(14) {
      grid-column: 2/3;
      grid-row: 4/5;
    }
    &:nth-child(15) {
      grid-column: 3/4;
      grid-row: 4/5;
    }
    &:nth-child(16) {
      grid-column: 4/5;
      grid-row: 4/5;
    }

    &:nth-child(17) {
      grid-column: 1/2;
      grid-row: 5/6;
    }
    &:nth-child(18) {
      grid-column: 2/3;
      grid-row: 5/6;
    }
    &:nth-child(19) {
      grid-column: 3/4;
      grid-row: 5/6;
    }
    &:nth-child(20) {
      grid-column: 4/5;
      grid-row: 5/6;
    }
  }
}

@media screen and (min-width: 1024px) {
  .box {
    display: block;
    width: 100%;
    padding: 5px;
  }
  .nav-flex {
    flex-direction: row;
  }

  .main-grid {
    display: grid;
    grid-template-columns: 1.3fr 1.3fr;
    min-width: 100%;
  }

  .grid-normal {
    order: 1;
  }

  .grid-scientific {
    order: 2;
  }
}
